::selection {
  background: midnightblue;
  color: aquamarine;
}

:root {
  background: deepskyblue;
  color: #100;
}

:link {
  background: aquamarine;
  color: blueviolet;
}

:visited {
  background: aquamarine;
  color: darkviolet;
}

:any-link:hover {
  background: oldlace;
  color: darkorchid;
  text-decoration-color: darkslateblue;
}

mark {
  background: mediumspringgreen;
  color: #100;
}

body {
  background-image: radial-gradient(deepskyblue, aquamarine, skyblue);
}
